.about-me {
  display: flex;
  opacity: 0;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  background-color: #f2f2f1;
  height: 100%;
  
  @media (max-width: $tablet) {
    flex-direction: column;
  }
};

.about-me__foto {
  display: block;
  box-sizing: border-box;
  width: 40%;
  background-image: url("../img/about-me-desctop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  @media (max-width: $tablet) {
    order: 1;
    width: 100%;
    
    height: 100vh;
  }
};

.about-me__description {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 12.5%;
  padding-top: 45px;
  padding-left: 10%;
  
  @media (min-width: $tablet) and (max-width: $desktop) {
    padding-right: 3%;
    padding-top: 5px;
    padding-left: 3%;
  }
  
  @media (max-width: $tablet) {
    width: 100%;
    order: 2;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
   
  }
}
