.header-slide {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../img/desktop1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
};

.header-slide__section {
  width: 100%;
  display: flex;
  justify-content: center;
  //padding-top: 15%;

  @media (min-width: $tablet) and (max-width: $desktop) {
    order: 2;
  }
};

.header-slide__title {
  display: block;
  margin: 0;
  font-size: 50px;
  line-height: 58px;
  font-weight: bold;
  transform: translateY(+400%);
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  text-align: center;
  color: gray;

  @media (min-width: $tablet) and (max-width: $desktop) {
    transform: translateY(+500%);
    font-size: 30px;
    line-height: 33px;
  }

  @media (max-width: $tablet) {
     transform: translateY(+600%);
    font-size: 20px;
    line-height: 25px;
  }
};

.header-slide__menu {
  position: relative;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #252e30;

  @media (min-width: $tablet) and (max-width: $desktop) {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    opacity: 0.5;
  }

  @media (max-width: $tablet) {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    height: 100vh;
    padding-top: 35px;
    top: 0;
    right: 0;
    opacity: 0.5;
  }
};

.block__menu {
  @media (min-width: $tablet) and (max-width: $desktop) {
    display: flex;
  }

  @media (max-width: $tablet) {
    display: flex;
  }
};

.header-slide__menu--fixed {
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
};

.header-slide__menu-items {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  list-style: none;

  @media (min-width: $tablet) and (max-width: $desktop) {
    flex-direction: column;
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    padding: 0;
  }
};

.header-slide__menu-item {
  margin-right: 15px;
  color: #fff;

  @media (max-width: $tablet) {
    margin-top: 15px;
  }
};

.header-slide__menu-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 25px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    line-height: 15px;
    font-size: 12px;
  }
};

.header-slide__logo {
  display: flex;
  align-items: center;
  text-align: center;
};

.header-slide__logo-abb {
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  border: 5px solid #4b5456;
  border-radius: 50px;
  text-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 40px;
  color: #fff;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: 30px;
    height: 30px;
    border: 3px solid #4b5456;
    font-size: 15px;
    line-height: 30px;
    border-radius: 50px;
  }

  @media (max-width: $tablet)  {
    width: 30px;
    height: 30px;
    border: 3px solid #4b5456;
    font-size: 15px;
    line-height: 30px;
    border-radius: 50px;
  }
};

.header-slide__logo-title {
  display: block;
  font-weight: bold;
  vertical-align: bottom;
  margin-left: 5px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    font-size: 12px;
  }
};
